Package: com.dgh0st.alertclose
Name: AlertClose
Depends: mobilesubstrate, applist, preferenceloader
Version: 1.4-1
Architecture: iphoneos-arm
Description: Display an alert with option to close, relaunch, dismiss switcher and cancel when you try to swipe application up through application switcher.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
