<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>alertcloseCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Buttons</string>
			<key>footerText</key>
			<string>Set the buttons that are displayed. 
Note: Cancel will be auto enabled if all buttons are disabled, leading to no way of closing applications.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isCloseEnabled</string>
			<key>label</key>
			<string>Close Application</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isRelaunchEnabled</string>
			<key>label</key>
			<string>Relaunch Application</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isDismissEnabled</string>
			<key>label</key>
			<string>Dismiss Switcher</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isCancelEnabled</string>
			<key>label</key>
			<string>Cancel</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Specific</string>
			<key>footerText</key>
			<string>Blacklist applications to display alert for.
Perform Single Action will perform the action instead of displaying alert if only one button is enabled. 
Note: Only cancel being enabled still displays the alert.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Blacklist</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.dgh0st.alertclose.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>PerApp-</string>
			<key>ALChangeNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isPerformEnabled</string>
			<key>label</key>
			<string>Perform Single Action</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Text</string>
			<key>footerText</key>
			<string>Set a custom text to display on top of the buttons.
[app] will be replaced with the name of the app (iOS 9+).
[app id] will be replaced with the bundle identifier of the app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>customText</string>
			<key>label</key>
			<string>Custom Text:</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
            <key>label</key>
            <string>Save</string>
            <key>action</key>
            <string>save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HomeScreen Specific</string>
			<key>footerText</key>
			<string>Stop now playing applications from being killed when "Kill-All Applications" is tapped.
Whitelist applications to not be killed by the kill-all.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isHomescreenEnabled</string>
			<key>label</key>
			<string>HomeScreen Swipe Up</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isNowPlayingEnabled</string>
			<key>label</key>
			<string>Continue Now Playing</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isWhitelistEnabled</string>
			<key>label</key>
			<string>Enable Whitelist</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Whitelist</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.dgh0st.alertclose.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>PerAppKill-</string>
			<key>ALChangeNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Quick Actions And Vertical Sroll</string>
			<key>footerText</key>
			<string>Set the vertical scroll required to invoke the alert and quick action (recommend around 0.175).
Action invoked on swipe down.
Invert Action and Alert, swipe up gives quick action and swipe down gives alert.
Disclaimer: Quick Action is untested on iOS 8.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>0.175</real>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>VerticalScroll</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>key</key>
			<string>QuickAction</string>
			<key>label</key>
			<string>Quick Action</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Respring</string>
					<string>Kill-All Applications</string>
					<string>Relaunch-All Applications</string>
					<string>Launch Application</string>
					<string>Close Application</string>
					<string>Relaunch Application</string>
					<string>Dismiss Switcher</string>
				</array>
			<key>validValues</key>
				<array>
					<integer>0</integer><!--None-->
					<integer>1</integer><!--Respring-->
					<integer>2</integer><!--Kill-All-->
					<integer>3</integer><!--Relaunch-All-->
					<integer>4</integer><!--Launch-->
					<integer>5</integer><!--Close-->
					<integer>6</integer><!--Rleaunch-->
					<integer>7</integer><!--Dismiss Switcher-->
				</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isInvertEnabled</string>
			<key>label</key>
			<string>Invert Action and Alert</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra</string>
			<key>footerText</key>
			<string>Auto Close Switcher will close out of switcher when last application is closed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.alertclose</string>
			<key>key</key>
			<string>isAutoCloseSwitcherEnabled</string>
			<key>label</key>
			<string>Auto Close Switcher</string>
			<key>PostNotification</key>
			<string>com.dgh0st.alertclose/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Enjoy the tweak :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>email</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>follow</string>
			<key>label</key>
			<string>Follow on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>AlertClose © 2015 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>AlertClose</string>
</dict>
</plist>
